$input-focus-border-color : #007bff !default;
$dropdown-bg : #f1f1f1;
$custom-select-font-size : 1rem;
$custom-select-padding-x : .5rem;
$custom-select-padding-y : .5rem;
$custom-select-color : #ddd;
$custom-select-border-color : #ddd;
$custom-select-focus-border-color : #ccc;
