/* person1 style1 */
.style1 {
    color: rgb(180, 180, 125);
}

h1 {
    font-size: 5vw;
}

.smoothScroll {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;

    section {
        padding: 10px;
        height: 100%;
        scroll-snap-align: start;
        position: sticky;

        &:nth-child(3n + 1) {
            background: gold;
        }
        &:nth-child(3n + 2) {
            background: skyblue;
        }
        &:nth-child(3n) {
            background: pink;
        }
    }
}
